*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 1em;
  background-color: #1c1c1c;
  color: white;
  font-family: "Inter", sans-serif;
}
button {
  font-family: inherit;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  background-color: #1f2937;
  margin: 0 auto;
  border-radius: 10px;
  padding: 5em;
}

.title {
  font-family: "Karla", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0;
}
.title span {
  color: #4adf86;
  display: block;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
  margin-top: .7em;
}

.btn {
  color: white;
  background-color: #10b981;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 6em;
  padding: 1.5em 2em;
}
.btn:active {
  background-color: #165741;
}

hr {
  border: none;
  height: 1px;
  background-color: #2f3e53;
  margin: 2.5em auto;
}

.password-container {
  display: flex;
  justify-content: space-between;
}
.password-box {
  display: inline-flex;
  flex-direction: row;
  background-color: #273549;
  width: 13em;
  height: 3em;
  border-radius: 5px;
  justify-content: center;
}
.password-text {
  color: #55f991;
  font-weight: 500;
}

@media (max-width: 630px) {
  .container {
    padding: 3em;
  }
  .btn {
    width: 100%;
  }
  .password-container {
    flex-direction: column;
    gap: 1em;
  }
  .password-box {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .container {
    padding: 2em;
  }
  .btn {
    margin-top: 5em;
  }
  .title {
    font-size: 2.4rem;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1rem;
  }
  .btn {
    margin-top: 3em;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .btn:active {
    transform: scale(1.1);
    transition: transform 0.1s ease;
    background-color: #10b981;
  }
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}